body {
    font-family: 'Roboto', sans-serif;
    margin: 60px 200px 0px 200px;
    background-color:black ;
}



header {
    text-align: center;
}

.logo{ 
   
    width: 415px;
 
    margin: 0 auto;
}




nav { 
    background-color: black;
    padding: 20px 0px 20px 0px;
}

#barradenavegacion { 
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacion{ 
    padding: 10px 60px 10px 60px;
}

.navegacion:hover{
    background-color: rgb(255, 0, 0);
}

.navegacion a { 
    text-decoration: none;
    color:white;
    font-weight: 800;
}

/* .Icono{ 
    align-items: center;
    justify-content: center;
    display: flex;
}

.Icono li{ 
    font-family: 'Kalam', cursive;
    color:white;
    font-weight: 300;
    padding: 0px 40px 0px 40px;
}



.parallax { 
    background-image: url(Get-Now.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 1000px;
    align-items: center;
    justify-content: center;
    display: flex;

}

  .cajaparallax { 
    margin: 0 auto;
}

.tituloparallax h2 { 
    font-size: 2cm;
    color: whitesmoke;
    font-weight: 700;
    margin: 0 auto;
}

.parrafoparallax { 
    margin: 0 auto;
    justify-content: center;
    display: flex;
    border: whitesmoke;
    border-style: solid;
    border-width: 2px;
}

.parrafoparallax:hover{
    background-color: rgb(255, 0, 0);
    opacity: 0.7;
}

.parrafoparallax p { 
    font-size: 0.5cm;
    color: whitesmoke;
    font-weight: 400;
    padding: 10px 30px 10px 30px;
    margin: 0;
}



.informacion{ 
    display: inline-flex;
}

.informacion p{ 
    color: whitesmoke;
    max-width: 50%;
    margin: 0;
    align-self: center;
    padding-left: 50px;
    line-height: 23px;
}

.informacion img { 
    max-width: 50%;
    height: auto;
    padding: 0px 50px 0px 50px;
}

.whoisN.W.A { 
    font-size: 1.4cm;
    font-weight: 700;
}

.earlyyears { 
    font-weight: 700;
    margin: 0 auto;
}



.music { 
    min-height: 950px;
    margin-top: 100px;
}

.music h2{
    margin: 40px 0px 40px 0px;
    background-color: black;
    font-size: 1.5cm;
    color:whitesmoke;
    font-weight: 900;
    text-align: center;
}

.albumes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.album {
    background: teal;
    margin: 20px;
    width: 350px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
} */

/*  .album img{
    width: 350px;
    height: 350px;
    object-fit: cover;  
}  */



.videos { 
    margin: 50px 0px 0px 0px;
}

 /*  .Eazy-E{ 
  
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}  */

/*   .Eazy-E img{ 
    width: auto;
    height: 100px;
}  */

.iframeprincipal { 
    display: flex;
    justify-content: center;
}

.iframes{ 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.iframes iframe{ 
    margin-top: 40px;
}



.End { 
    margin-top: 100px;
  /*  background-image: url(imagenes/322367.jfif);=se utiliza para poner img   */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.End p{ 
    text-align: center;
    font-weight: 400;
    color: white;
}